@page "/logout"
@inject ILoginService loginService
@inject NavigationManager navigationManager

<h3>Cerrando sesion...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await loginService.LogoutAsync();
        navigationManager.NavigateTo("/");
    }
}